.head-wrap {
  height: 76px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 16px;
  position: sticky;
  top: 0;
  right: 0;
  z-index: 10;
  width: 100%;
  background: white;

  .header-title {
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: -0.2px;
  }

  .header-action {
    display: flex;
    align-items: center;
    gap: 10px;
    &-input {
      width: 402px;
      height: 44px;
      display: flex;
      justify-content: center;
      align-items: center;

    }

    .avatar-icon {
      margin: 0 24px 0 16px;
    }

    .noti-wrap {
      width: 32px;
      height: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
  }
}